---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="min-h-dvh flex flex-col">
        <Header />
        <main class="flex-1 px-1.5">
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a class="flex gap-2" href={`/a/${post.id}/`}>
                                    <p>
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                    <h2 class="font-regular text-[16px]">
                                        {post.data.title}
                                    </h2>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>
